
         *{margin: 0; padding: 0; font-family: 'Josefin Sans', sans-serif;}
         .hide{display: none;}
         .carGame{
             width: 100%;
             height: 100vh;
             background-image: url('assets/images/background.png');
             background-repeat: no-repeat;
             background-size: 100% 100%;
             
         }
         .car{
             width: 50px;
             height: 70px;
             background: red;
             position: absolute;
             bottom: 120px;
             background-image: url('assets/images/car3.png');
             background-repeat: no-repeat;
             background-size: 100% 100%;
         }

         .radio-container{
            padding: 1em;
         }

         .enemyCar{
            width: 60px;
            height: 80px;
            position: absolute;
            bottom: 120px;
            background-image: url('assets/images/logo.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }


         .roadLines{
             width: 10px;
             height: 100px;
             position: absolute;
             background:yellow;
             margin-left: 195px;   
         }
         .gameArea{
             width: 400px;
             height: 100vh;
             background: #818586;
             margin: auto;
             position: relative;
             overflow: hidden;
             border-right: 7px dashed #d3d3da;;
             border-left: 7px dashed #d3d3da;;
         }
         .score{
             position: absolute;
             top: 15px;
             left: 40px;
             background: #10ac84;
             width: 150px;
             line-height: 50px;
             text-align: center;
             color: white;
             font-size: 1.5em;
             box-shadow: 0 5px 5px #777;
         }

         .startScreen {
            position: absolute;
            background-color: #181b18; /* Blue color */
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: rgb(223, 215, 215);
            z-index: 1;
            text-align: center;
            border: 2px solid #29b9b9; /* Darker blue border */
            padding: 30px;
            margin: auto;
            /* width: 60%; */
            cursor: pointer;
            border-radius: 15px; /* Rounded corners */
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Box shadow for depth effect */
            font-size: 24px;
            line-height: 36px;
        }
        
        .startScreen:hover {
            background-color: #141413; /* Darker blue on hover */
        }
        
        .startScreen p {
            margin-bottom: 20px;
        }
        
        .level {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        
        .level button {
            padding: 10px;
            font-size: 1.3rem;
            background: rgb(129, 124, 124);
            border: 2px solid #5779bd; /* Blue border */
            border-radius: 10px;
            margin: 0 10px;
            cursor: pointer;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); /* Light box shadow for buttons */
        }
        
        .level button:hover {
            background-color: #cf1f1f; /* Blue on hover */
            color: white;
        }
         


         
        .custom-modal-dialog {
            max-width: 800px; 
            width: 100%; 
            /* margin: 10vh auto; */
            
        }
        

         /* Add this to your existing styles.css or in the head of your HTML file */

.modal-content {
    /* background-color: #aae4f3;  */
    /* background: linear-gradient(white,pink); */
    background-color: white;

    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow */
    background-size: cover; /* or 'contain' based on your preference */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    border: 5px solid #05314e;
    width: 80%; /* Set your desired width */
    max-width: 800px; /* Set your desired maximum width */
    margin: auto; 

}

.modal-header {
    border-radius: 50px;
    height: 9vh;
    width: 34.3vw;
  
    display: flex;
    justify-content: end;
    background-image: url('assets/images/popup.png');
    background-size: cover;  
    background-position: center;
    /* color: #0a0a0a; 
    font-weight: 500;
    font-size: 1.5;
    border-radius: 50px; */

}


#timer-icon {
    
    width: 6vh;
    height: 6vh;
    position: absolute;
    left:73%;
    z-index: 1;
}

.modal-body {
    text-align: center;
}
#questionText {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 0.1px;
    color: #c4bfbf; /* Dark text color */
    text-align: left;
    margin-left: 2%;

}






/* Additional styling for mobile responsiveness */
@media (max-width: 480px) {
    .modal-body {
        padding: 20px;
    }

    #questionText {
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .radio-container label {
        font-size: 1em;
        padding: 8px;
    }

   
}



@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.radio-container label {
    margin-bottom: 10px;
    font-size: 1.4em;
    background-color: #ced6db;
    color: #131212;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    animation: fadeInLeft 0.5s ease;
}

.radio-container label:hover {
    background-color: #757a7e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* transform: scale(1.1);  */
}

.modal-footer {
    justify-content: center;
    padding-top: 20px;
    animation: fadeInUp 0.3s ease;
}



#continueButton {
    color: #0c0b0b; /* Text color */
    background-color: #d2d6d8; /* Background color */
    padding: 10px 20px; /* Padding around text */
    border: none; /* Remove border */
    border-radius: 5px; /* Border radius */
    cursor: pointer;
    font-size: 1.2rem; /* Font size */
    font-weight: 600;
}

#continueButton:hover {
    background-color: #808181; /* Change background color on hover */
}


#error-text {
    color: #f01111; 
    font-size: 1.5rem; /* Font size */
    margin-top: 10px; /* Margin at the top */
    font-weight: 500;
    text-align: center;
}






/* #timer {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 40px;
    color: #0c0b0b;
    font-size: 1.3em;
    background: linear-gradient(rgb(100, 98, 98),rgb(216, 213, 213));
    padding: 9px;
    border-radius: 50%; 
    box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
} */



#timer {
            
    color: #0c0b0b;
    font-size: 1.3em;
    background-color: white;
    border: yellow;
    position: relative;
    /* padding: 5px; */
    box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
    border-radius: 30px;
    width: 10vw;
    height: 5vh;
    padding: 10px;
    text-align: end;
}

#timer:hover {
    transform: rotate(360deg); /* Rotate 360 degrees on hover */
}

/* Additional styling for mobile responsiveness */
/* @media (max-width: 480px) {
    .modal-body {
        padding: 20px;
    }

    #questionText {
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .radio-container label {
        font-size: 1em;
        padding: 10px;
    }
} */



 
 
         @media (max-width: 480px) {
             .carGame {
                 background-size: cover;
             }
         
             .startScreen{
                 width: 200px;
             }
             
             .gameArea {
                 width: calc(100%-14px);
                 height: 100vh;
                 background: #2d3436;
             }
 
     
             .score {
                 left: 150px;
                 width: 100px;
                 font-size: 1em;
                 z-index: 1;
             }
         }

 
         
     
 
         * {
            margin: 0;
            padding: 0;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        .hide {
            display: none;
        }
        
        
        
        .radio-container {
            padding: 1em;
        }
        
        
        
        .roadLines {
            width: 10px;
            height: 100px;
            position: absolute;
            background: rgb(8, 8, 8);
            margin-left: 195px;
        }
        
        .gameArea {
            width: 400px;
            height: 100vh;
            background: #818586;
            margin: auto;
            position: relative;
            overflow: hidden;
            border-right: 7px dashed #19191a;
            border-left: 7px dashed #1c1e1f;
        }
        
        .score {
            position: absolute;
            top: 15px;
            left: 40px;
            background: #10ac84;
            width: 150px;
            line-height: 50px;
            text-align: center;
            color: white;
            font-size: 1.5em;
            box-shadow: 0 5px 5px #777;
        }
        
        .startScreen {
            position: absolute;
            background-color: #181b18;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: rgb(223, 215, 215);
            z-index: 1;
            text-align: center;
            border: 2px solid #29b9b9;
            padding: 30px;
            margin: auto;
            cursor: pointer;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            font-size: 24px;
            line-height: 36px;
        }
        
        .level {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        
        .level button {
            padding: 10px;
            font-size: 1.3rem;
            background: rgb(129, 124, 124);
            border: 2px solid #5779bd;
            border-radius: 10px;
            margin: 0 10px;
            cursor: pointer;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        }
        
        .custom-modal-dialog {
            width: 600px !important;
        }
        
       
        
        .modal-header {
            background-color: #e0e3e6;
            color: #0a0a0a;
            font-weight: 500;
            font-size: 1.5;
        }
        
        .modal-body {
            text-align: center;
        }
        
        #questionText {
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 0.1px;
            color: #c4bfbf;
            text-align: left;
        }
        
        
        
        .modal-footer {
            justify-content: center;
            padding-top: 20px;
        }
        
        #continueButton {
            color: #0c0b0b;
            background-color: #d2d6d8;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 600;
        }
        
        #error-text {
            color: #f01111;
            font-size: 1.5rem;
            margin-top: 10px;
            font-weight: 500;
            text-align: center;
        }
        
        #timer {
            text-align: right;
            position: absolute;
            top: 10px;
            right: 40px;
            color: #0c0b0b;
            font-size: 1.3em;
            background: linear-gradient(rgb(100, 98, 98), rgb(216, 213, 213));
            padding: 9px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
        }
        
        @media (max-width: 480px) {
            .modal-body {
                padding: 20px;
            }
        
            #questionText {
                font-size: 1.2em;
                margin-bottom: 15px;
            }
        
            .radio-container label {
                font-size: 1em;
                padding: 8px;
            }
        }
        
        @media (max-width: 480px) {
            .carGame {
                background-size: cover;
            }
        
            .startScreen {
                width: 200px;
            }
        
            .gameArea {
                width: calc(100% - 14px);
                height: 100vh;
                background: #2d3436;
            }
        
            .score {
                left: 150px;
                width: 100px;
                font-size: 1em;
                z-index: 1;
            }
        }

        

        * {
            margin: 0;
            padding: 0;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        /* ... (existing styles) ... */
        
        /* .modal-content {
            border: 2px solid #3498db;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            background: url('assets/images/assesment-4.jpg') center center no-repeat;
            background-size: cover;
        } */
        
        .modal-header {
            background-color: #e0e3e6;
            color: #0a0a0a;
            font-weight: 500;
            font-size: 1.5;
        }
        
        .modal-body {
            text-align: center;
        }
        
        #questionText {
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 0.1px;
            color: #c4bfbf;
            text-align: left;
        }
        
        
        .modal-footer {
            justify-content: center;
            padding-top: 20px;
        }
        
        #continueButton {
            color: #0c0b0b;
            background-color: #d2d6d8;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 600;
        }
        
        #error-text {
            color: #f01111;
            font-size: 1.5rem;
            margin-top: 10px;
            font-weight: 500;
            text-align: center;
        }
        
        #timer {
            text-align: right;
            position: absolute;
            top: 10px;
            right: 40px;
            color: #0c0b0b;
            font-size: 1.3em;
            background: linear-gradient(rgb(100, 98, 98), rgb(216, 213, 213));
            padding: 9px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
        }
        
        /* Additional styling for mobile responsiveness */
        



        @media (max-width: 480px) {
            .modal-content {
                width: 80%; /* Adjust the width as needed for your design */
                max-width: 100%;
            }
        
            .modal-header {
                width: 100%;
                justify-content: center; /* Center the content horizontally */
                align-items: center; /* Center the content vertically */
                flex-direction: column; /* Stack child elements vertically */
            }
        
            #timer-icon {
                left: initial;
                right: 10px; /* Adjust as needed */
            }
        
            #timer {
                width: 50%;
                text-align: end;
                /* margin-top: 10px; */
            }
        
            .modal-body {
                padding: 10px;
            }
        
            #questionText {
                font-size: 1.2em;
                margin-bottom: 10px;
            }
        
            .radio-container label {
                font-size: 1em;
                padding: 8px;
            }
        
            #continueButton {
                padding: 8px 16px;
                font-size: 1rem;
            }
        
            .carGame {
                background-size: cover;
            }
        
            .startScreen {
                width: 200px;
            }
        
            .gameArea {
                width: calc(100% - 14px);
                height: 100vh;
                background: #2d3436;
            }
        
            .score {
                left: 150px;
                width: 100px;
                font-size: 1em;
                z-index: 1;
            }
        }